<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<form name="vm.accountForm" novalidate>
    <hr>
    <h3>Личный кабинет</h3>
    <div ng-if="!vm.accountForm.accountName.$dirty && vm.newAccount.name">
        <h5>Добро пожаловать <strong>"{{vm.newAccount.name | uppercase }}". Вы можете изменить свои настройки</strong></h5>
    </div>

    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" data-ng-model="vm.newAccount.name" type="text" placeholder="Имя" required ng-minlength="3" name="accountName">
    </div>

    <div ng-messages="vm.accountForm.accountName.$error" ng-if="vm.accountForm.accountName.$dirty">
        <div ng-message="required" class="alert alert-danger" role="alert">А где имя?</div>
        <div ng-message="minlength" class="alert alert-danger" role="alert">Имя слишком короткое</div>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input class="form-control" data-ng-model="vm.newAccount.email" type="text" placeholder="address@mail.xx" required data-ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/"   name="accountEmail">
    </div>

    <div role="alert" ng-messages="vm.accountForm.accountEmail.$error" ng-if="vm.accountForm.accountEmail.$dirty">
        <div ng-message="required" class="alert alert-danger">Адрес почты обязателен!</div>
        <div ng-message="pattern" class="alert alert-danger">Это значение не похоже на адрес почты</div>
    </div>

    <div class="form-group">
        <label>Телефонный номер</label>
        <input class="form-control" data-ng-model="vm.newAccount.phone" type="text" placeholder="+1234567890.." data-ng-pattern="/^[+]?\d{10,}$/" name="accountPhone">
    </div>

    <div role="alert" ng-messages="vm.accountForm.accountPhone.$error" ng-if="vm.accountForm.accountPhone.$dirty">
        <div ng-message="pattern" class="alert alert-danger">Это значение не похоже на номер телефона. В номере не менее 10 цифр.</div>
    </div>

    <button type="submit" class="btn btn-default" data-ng-click="vm.addAccount(vm.newAccount)" data-ng-disabled="vm.accountForm.$invalid">{{vm.btnText}}
    </button>

    <hr> ( отладка )
    <!-- для отдадки -->
    <pre>accountForm.accountName.$error = {{ vm.accountForm.accountName.$error | json }}</pre>
    <pre>accountForm.accountEmail.$error = {{ vm.accountForm.accountEmail.$error | json }}</pre>
    <pre>accountForm.accountPhone.$error = {{ vm.accountForm.accountPhone.$error | json }}</pre>
    
</form>
